<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JSP</string>
	<key>ordering</key>
	<array>
		<string>92A587AE-4933-4F67-9FE3-36BEB811AFB8</string>
		<string>B37232E6-9701-4AD9-B89C-8BA14D658BB8</string>
		<string>83F2D2B4-C730-4B46-8D05-25E358F838E3</string>
		<string>6A897037-5C94-401F-954B-6B3155B79457</string>
		<string>825EC093-4DF3-426E-9C8C-265EACEF32C7</string>
		<string>E75AA243-8A58-458F-A29B-5EA58710C0BD</string>
		<string>FB71FCAF-D303-4E4A-9697-5B2AF1712D47</string>
	</array>
	<key>uuid</key>
	<string>368CAA18-F5FB-4E67-97A3-1DC746D23648</string>
</dict>
</plist>
